
@font-face{
font-family: 'OpensanSB';
src: url('../fonts/font-open-sans/OpenSans-Semibold.ttf')
}
@font-face{
	font-family: 'OpensanB';
	src: url('../fonts/font-open-sans/OpenSans-Bold.ttf');
}
@font-face{
	font-family: 'OpensanBI';
	src: url('../fonts/font-open-sans/OpenSans-BoldItalic.ttf');
}
@font-face{
	font-family: 'OpensanI';
	src: url('../fonts/font-open-sans/OpenSans-Italic.ttf');
}
@font-face{
	font-family: 'Opensan';
	src: url('../fonts/font-open-sans/OpenSans-Regular.ttf');
}
@font-face{
	font-family: 'OpensanEB';
	src: url('../fonts/font-open-sans/OpenSans-ExtraBold.ttf');
}
*{
	font-family: Opensan;
}
header{
	background: #726b65;
	height: 128px;
}
header img{
	padding: 30px 0
}
header .menu ul{
	margin: 0
}
header .menu .active{
	background: #a6b911;
}
header .menu ul li{
	display: inline-block;
	padding: 54px 18px;
	margin: 0;	
}
header .menu ul li a{
	color: #fff;
	text-transform: uppercase;
	font-family: OpensanSB;
	text-decoration: none
}
header .menu ul li:hover, .menu .active{
	background: #a6b911;
	border-bottom: 6px solid #99aa10;
}
.banner img{
position: relative;
width: 100%;
}
.banner .text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
	color: #fff;
}
.banner .text h1{
	font-family: OpensanEB;
	font-size: 60px;
	text-transform: uppercase;
}
.banner .text h3{
	font-size: 25px;
	font-family: OpensanB;
	text-transform: uppercase;
	margin: 0 10px 20px 0;
}
.banner .text p{
	font-size: 14px;
	font-family: OpensanI;
}
.nut-bam button{
	background: #a6b911;
	border: none;
	border-radius: 0;
	color: #fff;
}
.doi-tac h2, .doi-tac span{
	font-family: OpensanB;
	font-size: 27px;
}
.doi-tac span{
	color: #a6b911;
}
.doi-tac{
	width: 720px;
	margin: 0 auto;
	text-transform: uppercase;
}
.doi-tac p{
	font-size: 18px;
}
.doi-tac button{
	text-transform: uppercase
}
.gioi-thieu{
	background: #f6f6f4;
	padding: 20px 0 55px 0;
	margin-top: 24px
}
.gioi-thieu .title h3{
	font-size: 28px;
	font-family: OpensanSB;
	text-transform: uppercase;
	margin-bottom: 47px
}
.xem-them button{
	background: #726b65;
	margin-bottom: 55px!important;
}
.gioi-thieu .nhan-su h4{
font-family: OpensanB;
font-size: 20px;
text-transform: uppercase
}
.gioi-thieu .nhan-su p{
	font-size: 12px;
}
.line {
	margin-bottom: 44px
}
.hm button{
		margin-top: 28px
}
.lanh-dao .title h1{
	font-family: OpensanB;
	font-size: 20px; 
	border-bottom: 1px solid #726b65;
	padding: 0 0 15px 0;
	margin-bottom: 36px

}
.chu-tich{
	margin: 36px 0 20px 0;
}
.chu-tich h4{
	font-family: OpensanB;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 15px
}
.chu-tich h5{
	font-family: OpensanBI;
	font-size: 12px;
	margin: 0
}
.chu-tich p{
	font-family: OpensanB;
	font-size: 12px;
	color: #8b8b8b;
}
.chu-tich .anh-chu{
	padding-right: 17px
}
.dieu-khoan{
	position: relative;
	border-bottom: 1px solid #eeeeee;
	padding: 10px 0
}
.dieu-khoan .icon{
	display: inline-block;
	font-size: 28px;
	margin-right: 14px;
}
.dieu-khoan span{
	position: absolute;
	font-size: 12px;
	font-family: OpensanB;
	top: 20px;

}
.dieu-khoan p{
	font-size: 12px;
	font-weight: bold;
	color: #726b65;
	padding: 40px 0
}
.lanh-dao .danh-gia .nen-chu{
	position: relative;
}
.lanh-dao .danh-gia .chu{
	  width: 333px;
    text-align: left;
    position: absolute;
    left: 26px;
    padding: 26px;
    top: 95px;
    font-size: 12px;
    color: #7c7c7c;
    font-family: OpensanBI;
}
.alex{
	margin-top: 15px
}
.alex h4, .alex p{
	font-family: OpensanBI;
font-size: 14px;
}
.alex h4{
	margin-top: 17px;
color: #adbe32;
}
.alex p{
	color: #7a7a7a;
}
footer{
	background: #726b65;
	padding: 60px 0
}
.menu li a{
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
}
.menu li .headd{
	font-family: OpensanB;
	color: #2c2c2c;
	font-size: 14px;
}
.menu li:hover a{
	background: none;
}
.ngoi-nha i{
	color: #95a821;
	font-size: 20px;
}
.ngoi-nha .chu span, .ngoi-nha .chu p{
	font-family: OpensanB;
	font-size: 14px;
	color: #fff;
}
.bg-round{
	background: #979797;
	border: 1px solid #979797;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 30px
}
.icon-cuoi{
	margin-top: 20px
}
.icon-cuoi span{
	padding: 5px 6px;
}
footer{
	padding: 0
}
footer .container{
	border-top: 10px solid #95a821;
	padding: 60px 0
}